@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CREATO";
  src: url("/fonts/CreatoDisplay-Black.otf");
}

@font-face {
  font-family: "CREATO MEDIUM";
  src: url("/fonts/CreatoDisplay-Medium.otf");
}

@font-face {
  font-family: "CREATO REGULAR";
  src: url("/fonts/CreatoDisplay-Regular.otf");
}
